<div class="container">
	<div class="row">
		<div class="col-xs-6">
			
			<h1>Edit User</h1>
			
			<hr/>
			
			<!--VALIDATION ALERTS-->
			{{#if flash.err.Errors}}
				{{#each flash.err.Errors.username}}
					<div class="alert alert-danger">{{message}}</div>
				{{/each}}
				{{#each flash.err.Errors.first_name}}
					<div class="alert alert-danger">{{message}}</div>
				{{/each}}
				{{#each flash.err.Errors.last_name}}
					<div class="alert alert-danger">{{message}}</div>
				{{/each}}
			{{/if}}
			
			<form class="form-" action="/user/update/{{user.id}}" method="PUT">
				<div class="form-group">
					<label class="sr-only" for="exampleInputEmail3">Email address</label>
					<input type="email" class="form-control" value="{{user.username}}" name="username" id="exampleInputEmail3" placeholder="Email">
				</div>
				<div class="form-group">
					<label class="sr-only" for="exampleInputFirst3">First Name</label>
					<input class="form-control" value="{{user.first_name}}" id="exampleInputFirst3" name="first_name" type="text" placeholder="First Name">
				</div>
				<div class="form-group">
					<label class="sr-only" for="exampleInputLast3">Last Name</label>
					<input class="form-control" value="{{user.last_name}}" id="exampleInputLast3" name="last_name"  type="text" placeholder="Last Name">
				</div>
				<button type="submit" class="btn btn-success"  value="SAVE">update</button>
			</form>
			
		</div>
	</div>
</div>